<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>710132482627-dokvab2dhi0m142okfqvg4oppgpq3h74.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.710132482627-dokvab2dhi0m142okfqvg4oppgpq3h74</string>
	<key>API_KEY</key>
	<string>AIzaSyDhuHE1UMQsEXW5ofUvn8s0wGyV7BJ7Oko</string>
	<key>GCM_SENDER_ID</key>
	<string>710132482627</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alexeysorochan.MagicYouPlayer</string>
	<key>PROJECT_ID</key>
	<string>magicyouplayer-afce6</string>
	<key>STORAGE_BUCKET</key>
	<string>magicyouplayer-afce6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:710132482627:ios:ec44ac2a2a5d76f6b08af6</string>
	<key>DATABASE_URL</key>
	<string>https://magicyouplayer-afce6.firebaseio.com</string>
</dict>
</plist>